<?xml version="1.0"?>
<!--
/**
 * @author Aurélien Millet
 * @link https://github.com/aurmil/magento-force-store-code
 * @license https://github.com/aurmil/magento-force-store-code/blob/master/LICENSE.md
 */
-->
<config>
    <modules>
        <Aurmil_ForceStoreCode>
            <version>1.3.1</version>
        </Aurmil_ForceStoreCode>
    </modules>
    <global>
        <helpers>
            <aurmil_forcestorecode>
                <class>Aurmil_ForceStoreCode_Helper</class>
            </aurmil_forcestorecode>
        </helpers>
        <models>
            <aurmil_forcestorecode>
                <class>Aurmil_ForceStoreCode_Model</class>
            </aurmil_forcestorecode>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <forcestorecode_controller_front_init_before>
                        <class>aurmil_forcestorecode/observer</class>
                        <method>forceStoreCode</method>
                    </forcestorecode_controller_front_init_before>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <aurmil_forcestorecode>
                    <files>
                        <default>Aurmil_ForceStoreCode.csv</default>
                    </files>
                </aurmil_forcestorecode>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <web>
            <url>
                <force_store>1</force_store>
            </url>
        </web>
    </default>
</config>
